#marketing {
  img {
    width: 45px;
  }
  .w_img {
    width: 40px;
  }
  span {
    font-size: $font-size-base;
  }
}
.bg_top {
  background-color: $comics_primary;
  color: white;
  height: 120px;
}
.bg_botton {
  background-color: $comics_secondary;
}
